Import Library

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style='whitegrid')

from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

Import DATASET

In [ ]:
df=pd.read_excel("/content/PCOS_data_without_infertility.xlsx",sheet_name="Full_new")
print(df.shape)

(541, 45)

In [ ]:
df.head()

,Sl. No,Patient File No.,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Pulse rate(bpm),RR (breaths/min),...,Fast food (Y/N),Reg.Exercise(Y/N),BP _Systolic (mmHg),BP _Diastolic (mmHg),Follicle No. (L),Follicle No. (R),Avg. F size (L) (mm),Avg. F size (R) (mm),Endometrium (mm),Unnamed: 44
0,1,1,0,28,44.6,152.0,19.300000,15,78,22,...,1.0,0,110,80,3,3,18.0,18.0,8.5,NaN
1,2,2,0,36,65.0,161.5,24.921163,15,74,20,...,0.0,0,120,70,3,5,15.0,14.0,3.7,NaN
2,3,3,1,33,68.8,165.0,25.270891,11,72,18,...,1.0,0,120,80,13,15,18.0,20.0,10.0,NaN
3,4,4,0,37,65.0,148.0,29.674945,13,72,20,...,0.0,0,120,70,2,2,15.0,14.0,7.5,NaN
4,5,5,0,25,52.0,161.0,20.060954,11,72,18,...,0.0,0,120,80,3,4,16.0,14.0,7.0,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541 entries, 0 to 540
Data columns (total 45 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Sl. No                  541 non-null    int64
 1   Patient File No.        541 non-null    int64
 2   PCOS (Y/N)              541 non-null    int64
 3    Age (yrs)              541 non-null    int64
 4   Weight (Kg)             541 non-null    float64
 5   Height(Cm)              541 non-null    float64
 6   BMI                     541 non-null    float64
 7   Blood Group             541 non-null    int64
 8   Pulse rate(bpm)         541 non-null    int64
 9   RR (breaths/min)        541 non-null    int64
 10  Hb(g/dl)                541 non-null    float64
 11  Cycle(R/I)              541 non-null    int64
 12  Cycle length(days)      541 non-null    int64
 13  Marraige Status (Yrs)   540 non-null    float64
 14  Pregnant(Y/N)           541 non-null    int64
 15  No. of aborptions       541 non-null    int64
 16    I   beta-HCG(mIU/mL)  541 non-null    float64
 17  II    beta-HCG(mIU/mL)  541 non-null    object
 18  FSH(mIU/mL)             541 non-null    float64
 19  LH(mIU/mL)              541 non-null    float64
 20  FSH/LH                  541 non-null    float64
 21  Hip(inch)               541 non-null    int64
 22  Waist(inch)             541 non-null    int64
 23  Waist:Hip Ratio         541 non-null    float64
 24  TSH (mIU/L)             541 non-null    float64
 25  AMH(ng/mL)              541 non-null    object
 26  PRL(ng/mL)              541 non-null    float64
 27  Vit D3 (ng/mL)          541 non-null    float64
 28  PRG(ng/mL)              541 non-null    float64
 29  RBS(mg/dl)              541 non-null    float64
 30  Weight gain(Y/N)        541 non-null    int64
 31  hair growth(Y/N)        541 non-null    int64
 32  Skin darkening (Y/N)    541 non-null    int64
 33  Hair loss(Y/N)          541 non-null    int64
 34  Pimples(Y/N)            541 non-null    int64
 35  Fast food (Y/N)         540 non-null    float64
 36  Reg.Exercise(Y/N)       541 non-null    int64
 37  BP _Systolic (mmHg)     541 non-null    int64
 38  BP _Diastolic (mmHg)    541 non-null    int64
 39  Follicle No. (L)        541 non-null    int64
 40  Follicle No. (R)        541 non-null    int64
 41  Avg. F size (L) (mm)    541 non-null    float64
 42  Avg. F size (R) (mm)    541 non-null    float64
 43  Endometrium (mm)        541 non-null    float64
 44  Unnamed: 44             2 non-null      object
dtypes: float64(19), int64(23), object(3)
memory usage: 190.3+ KB

In [ ]:
df["AMH(ng/mL)"] = pd.to_numeric(df["AMH(ng/mL)"], errors="coerce") 
df["II    beta-HCG(mIU/mL)"] = pd.to_numeric(df["II    beta-HCG(mIU/mL)"], errors="coerce")

In [ ]:
df = df.rename(columns=lambda x: x.strip())
df = df.drop(['Unnamed: 44'], axis = 1) 
df = df.drop(['Sl. No'], axis = 1) 
df = df.drop(['Patient File No.'], axis = 1)

In [ ]:
df= df.drop(['Pulse rate(bpm)','RR (breaths/min)', 'Hb(g/dl)', 'I   beta-HCG(mIU/mL)', 'II    beta-HCG(mIU/mL)'], axis=1)

In [ ]:
df = df.drop(['FSH(mIU/mL)', 'LH(mIU/mL)','FSH/LH', 'TSH (mIU/L)', 'AMH(ng/mL)'], axis=1)

In [ ]:
df = df.drop(['PRL(ng/mL)', 'Vit D3 (ng/mL)',  'PRG(ng/mL)', 'RBS(mg/dl)', 'BP _Systolic (mmHg)', 'BP _Diastolic (mmHg)'], axis=1)

In [ ]:
df = df.drop(['Follicle No. (L)', 'Follicle No. (R)'], axis=1)

In [ ]:
df = df.drop(['Avg. F size (L) (mm)', 'Avg. F size (R) (mm)', 'Endometrium (mm)'], axis=1)

In [ ]:
df.head()

,PCOS (Y/N),Age (yrs),Weight (Kg),Height(Cm),BMI,Blood Group,Cycle(R/I),Cycle length(days),Marraige Status (Yrs),Pregnant(Y/N),...,Hip(inch),Waist(inch),Waist:Hip Ratio,Weight gain(Y/N),hair growth(Y/N),Skin darkening (Y/N),Hair loss(Y/N),Pimples(Y/N),Fast food (Y/N),Reg.Exercise(Y/N)
0,0,28,44.6,152.0,19.300000,15,2,5,7.0,0,...,36,30,0.833333,0,0,0,0,0,1.0,0
1,0,36,65.0,161.5,24.921163,15,2,5,11.0,1,...,38,32,0.842105,0,0,0,0,0,0.0,0
2,1,33,68.8,165.0,25.270891,11,2,5,10.0,1,...,40,36,0.900000,0,0,0,1,1,1.0,0
3,0,37,65.0,148.0,29.674945,13,2,5,4.0,0,...,42,36,0.857143,0,0,0,0,0,0.0,0
4,0,25,52.0,161.0,20.060954,11,2,5,1.0,1,...,37,30,0.810811,0,0,0,1,0,0.0,0

In [ ]:
lst_missing_columns = df.columns[df.isna().any()].tolist()
lst_missing_columns

['Marraige Status (Yrs)', 'Fast food (Y/N)']

In [ ]:
for x in lst_missing_columns:
    df[x] = df[x].fillna(df[x].median())

In [ ]:
df.columns[df.isna().any()].tolist()

[]

In [ ]:
df['Blood Group'].unique()

array([15, 11, 13, 17, 16, 12, 14, 18])

In [ ]:
clean_data = df

In [ ]:
excel_file_path = '/content/PiCOS_cleaned_data.xlsx'

# Create an ExcelWriter object
excel_writer = pd.ExcelWriter(excel_file_path)

# Export the DataFrame to Excel
clean_data.to_excel(excel_writer, sheet_name='Sheet1', index=False)

# Save the Excel file
excel_writer.save()

<ipython-input-21-15e0aa016502>:10: FutureWarning: save is not part of the public API, usage can give unexpected results and will be removed in a future version
  excel_writer.save()